/* ----------------------------------------------------------------------------- 
 
  FONTS
 
----------------------------------------------------------------------------- */
@font-face {
	font-family: "nevis Bold";
	src: url("../fonts/nevis_bold/nevis_bold.eot");
	src: url("../fonts/nevis_bold/nevis_bold.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/nevis_bold/nevis_bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* -----------------------------------------------------------------------------

  MAIN SCREEN 

----------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------

  ALERT WINDOWS 

----------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------

  ADAPTIVE 

----------------------------------------------------------------------------- */


// Extra small devices (portrait phones, less than 544px)
@media (max-width: 543px) {
  
  
}

// Small devices (landscape phones, 544px and up)
@media (min-width: 544px) and (max-width: 767px) {
  
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
  
}

/*------------------- IE10+ CSS styles go here -------------------------------*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .main-header__search input[type="submit"] {
      top: 0.1rem !important;
    }                           
}

/*------------------- Safari 5.1-6.0 only. CSS styles go here -------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1) {
     ::i-block-chrome, .main-header__search input[type="submit"] {
        top: -0.2rem !important;
    }
}
/* -----------------------------------------------------------------------------

  BOX SIZING RESET
  
----------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* -----------------------------------------------------------------------------

  Clearfix 

----------------------------------------------------------------------------- */

.clearfix {
  &::before, &::after {
    content: " ";
    display: table;
    clear: both;
  }
}

/* -----------------------------------------------------------------------------

                VARIABLES
  
----------------------------------------------------------------------------- */

$font-small: 1.1rem 'Verdana Regular', sans-serif;
$font-small__color: #6a87a3;

$main-header-height: 5.2rem;
$footer-bg__color: #040507;
$footer-height: 6rem;


$main-container-width: 95rem;



/* -----------------------------------------------------------------------------

                MIXINS
  
----------------------------------------------------------------------------- */

@mixin pref($prop, $value) {
 #{$prop}: -webkit-#{$value};
 #{$prop}: -moz-#{$value};
 #{$prop}: -ms-#{$value};
 #{$prop}: #{$value};
}
/* -----------------------------------------------------------------------------

              ROOT ELEMENTS
  
----------------------------------------------------------------------------- */
html {
  font-size: 10px;
}
html, body{
  height: 100%;
}

body {
  
  background: #1e222b;
  background: url(../img/bgPat.png),
              url(../img/bgPat1.png) repeat-x,
              -webkit-linear-gradient( top, #1e222b , #333949 );
  background: url(../img/bgPat.png),
              url(../img/bgPat1.png) repeat-x,
              linear-gradient( to bottom, #1e222b , #333949 );
              
              

              
              
}

.main-container {
   width: $main-container-width;
   max-width: 110rem;
   margin: 0 auto;
}

.wrap {
  min-height: 100%;
  margin: 0 auto -6.2rem; /* the bottom margin is the negative value of the footer's height */
}

/* -----------------------------------------------------------------------------

                  MAIN-HEADER
  
----------------------------------------------------------------------------- */

.row-top {
  height: $main-header-height;
  background: #18191a;
  min-width: $main-container-width;
  background: -webkit-linear-gradient(bottom, #0f0f0f , #373a3e);
  background:         linear-gradient(to top, #0f0f0f , #373a3e);
}

.main-header{
  padding: 0.5rem 0;
  position: relative;
  //outline: 1px solid red;
  height: $main-header-height;
}

.main-header__subscription {
  top:0;               //-------------- alternative to  vertical-align: middle;
  bottom:0;
  position: absolute;
  margin: auto;
  height: 1em;         //-------------- alternative to  vertical-align: middle;
                           
  outline: 1px solid red;
  display: inline-block;
 
  font: $font-small;
  color: $font-small__color;
    & span {
      color: #485766;
    }
    & a {
      text-decoration: none;
      color: $font-small__color;
    }
}

.main-header__search {
  //outline: 1px solid green;
  position: absolute;
  top:0;
  bottom:0;
  margin-top: auto;
  margin-bottom: auto;
  height: 3rem;
  right: 0;
  display: inline-block;

    & input[type="search"] {
      font: $font-small;
      padding-left: 1rem;
      padding-right: 2.5rem;
      outline: none;
      color: $font-small__color;
      background-color: #0d0e0e;
      height: 3rem;
      width: 19.5rem;
      margin-right: -2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: inset 0 -1px 0 #292d30;
    }
    
    & input[type="search"]:focus {
      box-shadow: 1px 1px 1px #38444f, -1px -1px 1px #38444f;
    }
    
    & input[type="search"]::-webkit-input-placeholder {color: #38444f; }
    & input[type="search"]::-moz-placeholder          {color: #38444f; }/* Firefox 19+ */
    & input[type="search"]:-moz-placeholder           {color: #38444f; }/* Firefox 18- */
    & input[type="search"]:-ms-input-placeholder      {color: #38444f;}
    
    & input[type="submit"] {
      //outline: 1px solid green;
      position: relative;
      right: 0.5rem;
      top: 0.5rem;
      
      width: 1.8rem;
      height: 1.8rem;
      
      border: none;
      background: url(../img/icon-search1.png) no-repeat ;
      opacity: 0.5;
    }
    
    & input[type="submit"]:hover {
      opacity: 1;
    }
}

/* -----------------------------------------------------------------------------

         HEADING ELEMENTS
  
----------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------

             FOOTER        (styles for sticky footer  are in "root elements")
  
----------------------------------------------------------------------------- */
footer, .push {
  //outline: 1px solid red;
	height: $footer-height; /* '.push' must be the same height as 'footer' */
}

.footer {
  padding: 0.5rem 0;
  //border: 5px solid gold;
  
  position: relative;
  
  
  height: $footer-height;
  //box-shadow: 0 -1px 0 $footer-bg__color;  //------------- two-striped border above the footer
  //border-top: 1px solid #181f31;           //------------- two-striped border above the footer
  background-color: $footer-bg__color;
  color: $font-small__color;
  & .copyright {
    outline: 1px solid blue;
    display: inline-block;
    top:0;
    bottom:0;
    position: absolute;
    margin: auto;
    height: 1em;
    & p {
      margin: 0;
    }
  }
  
}

.row-bottom {
  height: $footer-height + 0.2rem;
  background: $footer-bg__color;
  min-width: $main-container-width ;
  box-shadow: 0 -1px 0 $footer-bg__color;  //------------- two-striped border above the footer
  border-top: 1px solid #181f31;
}

/* -----------------------------------------------------------------------------

                               SLIDER
  
----------------------------------------------------------------------------- */


.wrapper-slider {
  border: 1rem solid white;
  
  //overflow: hidden;
  max-height: 34rem;
  max-width: $main-container-width;
  margin: 0 auto 0 auto;
  position: relative;
  text-align: left;
}


.slider {
  position: relative;
  outline: 2px solid green;
  max-height: 32rem;
  
}


.slider img {
  height: auto;
  width: 100%;
  display: none;
  opacity: 0;
  transition: 1s;
  
}



.slider img.showImage {
  opacity: 1;
  width: 100%;
  display: block;

  animation: imgShow 0.5s;
  -webkit-animation: imgShow 0.5s ease-in-out;
}



@keyframes imgShow {
    0% { opacity: 0; }   
    100% { opacity: 1; }
   }
   
@-webkit-keyframes imgShow {
    0% { -webkit-transform: rotate(0deg); opacity: 0; } 
    100% { -webkit-transform: rotate(0deg); opacity: 1; }
   }

.next, .prev {
  outline: none;
  position: absolute;
  height: 100%;
  top: 0;
  
  background-color: #212121;
  color: #fff;
  border: none;
  font-size: 3rem;
  font-weight: 700;
  padding: 1.5rem;
}

.slider button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.next {
 
  right: 0;
  background: -webkit-linear-gradient(right, #212121 , rgba(0, 0, 0, 0));
  background:         linear-gradient(to left, #212121 , rgba(0, 0, 0, 0));
  opacity: 0.4;
}

.prev {
  left: 0;
  background: -webkit-linear-gradient(left, #212121 , rgba(0, 0, 0, 0));
  background:         linear-gradient(to right, #212121 , rgba(0, 0, 0, 0));
  opacity: 0.4;
}

.controls {
  outline: 1px solid red;
  left: 50%;
  margin-left: -8rem;
  bottom: 0;
  width: 16rem;
  position: absolute;
  text-align: center;
}

.controls i {
  margin: 0 0.3rem;
  background: -webkit-linear-gradient( bottom, rgb(46,56,80) 0%, rgb(74,85,109) 100%);
  background:         linear-gradient( to top, rgb(46,56,80) 0%, rgb(74,85,109) 100%);
  cursor: pointer;
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50% ;
  //border: 2px solid gray;
}

i.bullet-active {
  background: -webkit-linear-gradient( bottom, rgb(41,123,170) 0%, rgb(93,180,220) 100%);
  background:         linear-gradient( to top, rgb(41,123,170) 0%, rgb(93,180,220) 100%);
}



