/* ----------------------------------------------------------------------------- 
 
  FONTS
 
----------------------------------------------------------------------------- */
@font-face {
  font-family: "nevis Bold";
  src: url("../fonts/nevis_bold/nevis_bold.eot");
  src: url("../fonts/nevis_bold/nevis_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/nevis_bold/nevis_bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* -----------------------------------------------------------------------------

  MAIN SCREEN 

----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

  ALERT WINDOWS 

----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

  ADAPTIVE 

----------------------------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 480px) {
  .row-top {
    height: 10rem;
    color: red; }

  .container {
    color: white;
    height: 2rem; } }
/* -----------------------------------------------------------------------------

  BOX SIZING RESET
  
----------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/* -----------------------------------------------------------------------------

  Clearfix 

----------------------------------------------------------------------------- */
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  clear: both; }

/* -----------------------------------------------------------------------------

                VARIABLES
  
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

                MIXINS
  
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

              ROOT ELEMENTS
  
----------------------------------------------------------------------------- */
html {
  font-size: 62.5%; }

html, body, #wrap {
  height: 100%; }

#wrap {
  display: table;
  width: 100%; }

.footer {
  display: table-row; }

.footer {
  height: 1px; }

body {
  background: #1e222b;
  background: url(../img/bgPat.png), url(../img/bgPat1.png) repeat-x, linear-gradient(to bottom, #1e222b, #333949); }

.container {
  outline: 1px solid green;
  width: 86.364%;
  max-width: 110rem;
  margin: 0 auto; }

/* -----------------------------------------------------------------------------

                  MAIN-HEADER
  
----------------------------------------------------------------------------- */
.row-top {
  background: #111111;
  min-width: 86.364%;
  background: linear-gradient(to top, #0f0f0f, #373a3e); }

.main-header {
  position: relative;
  outline: 1px solid red;
  height: 5.2rem; }
  .main-header__subscription {
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    height: 1em;
    outline: 1px solid red;
    display: inline-block;
    font: 1.1rem "Verdana Regular", sans-serif;
    color: #6a87a3; }
    .main-header__subscription span {
      color: #485766; }
    .main-header__subscription a {
      text-decoration: none;
      color: #6a87a3; }
  .main-header__search {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 3rem;
    right: 0;
    display: inline-block;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .main-header__search input[type="search"] {
      font: 1.1rem "Verdana Regular", sans-serif;
      padding-left: 1rem;
      outline: none;
      color: #6a87a3;
      background-color: #0d0e0e;
      height: 3rem;
      width: 19.5rem;
      margin-right: -2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: inset 0 -1px 0 #292d30; }
    .main-header__search input[type="search"]::-webkit-input-placeholder {
      color: #38444f; }
    .main-header__search input[type="search"]::-moz-placeholder {
      color: #38444f; }
    .main-header__search input[type="search"]:-moz-placeholder {
      color: #38444f; }
    .main-header__search input[type="search"]:-ms-input-placeholder {
      color: #38444f; }
    .main-header__search input[type="submit"] {
      position: relative;
      right: 0.9rem;
      top: 0.5rem;
      width: 1.8rem;
      height: 1.8rem;
      border: none;
      background: url(../img/icon-search.png); }

.test::before {
  content: "\f002";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 400px;
  color: lightblue;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -200px;
  z-index: 1; }

/* -----------------------------------------------------------------------------

         HEADING ELEMENTS
  
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

             FOOTER        (styles for sticky footer  are in "root elements")
  
----------------------------------------------------------------------------- */
.footer {
  line-height: 6.2rem;
  height: 6.2rem;
  background-color: #040507;
  color: #6a87a3; }
  .footer p {
    margin: 0;
    padding-left: 6.818%; }
  .footer::before {
    content: " ";
    display: block;
    height: 2px;
    border-top: 1px solid #040507;
    background-color: #181f31; }

/*# sourceMappingURL=style-blueMasters.css.map */
